body{background-color: black;}
.h1{text-transform: uppercase;font-size: 3rem;}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: pink;
    text-align: center;
    font-family: Libre Baskerville,serif;
}
.engagement{width: 100%;
border: 10px solid white;}
